$font-size-tiny: 12px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-extra-large: 24px;

$font-weight-bold: 600;

$color-primary-green: #059f55;
$color-secondary-yelow: #f3e5ab;
$color-error-red: #9b0000;
$color-white: #ffffff;
$color-lightgray: #f0eeec;

$color-text: #3d3d3d;
$color-text-white: $color-white;
